.header-Roisoft {
    position: fixed;
    width: 100%;
    z-index: 2;
    background-color: transparent;
    transition: all .8s ease-out;

    @mixin atMedium {
        position: fixed;

        &--dark {
            background-color: rgba($azulResalte, 1);
            box-shadow: -1px 6px 10px -1px rgba(3,86,158,0.39);
            padding-bottom: 20px;

            & .logo {
                transform: scale(.65);
                padding: 0;
                top: -15px;
                transition: transform .8s ease-out;
            }

            & .btn {
                background-color: $azulMarino;
                color: #ffffff;
            }
        }
    }

    &--esta-abierto {
        background: rgb(0,0,0);
        background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(75,206,241,0.2) 20%, rgba(75,206,241,0.7) 60%, rgba(0,0,0,1) 90%);
        border-bottom: 1px solid $azulClaro;
        @mixin atMedium {
            background: transparent;
            border-bottom: none;
        }
    }

    &__btn-container {
        @mixin atMedium {
            float: right;
        }
    }

    &__icono-menu {
        width: 20px;
        height: 19px;
        position: fixed;
        z-index: 10;
        top: 10px;
        right: 11px;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 20px;
            height: 3px;
            background-color: #ffffff;
            transform-origin: 0 0;
            transition: transform .3s ease-out;
        }

        &__middle {
            position: absolute;
            top: 8px;
            left: 0;
            width: 20px;
            height: 3px;
            background-color: #ffffff;
            transition: all .3s ease-out;
            transform-origin: 0 50%;
        }

        &__fondo {
            width: 30px;
            height: 30px;
            position: fixed;
            z-index: -1;
            top: 5px;
            right: 7px;
            border-radius: 5px;
            background: rgba($azulMarino, .7);
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 20px;
            height: 3px;
            background-color: #ffffff;
            transform-origin: 0 100%;
            transition: transform .3s ease-out;
        }

        @mixin atMedium {
            display: none;
        }
    }

    &__icono-menu--cerrar-x {
        &::before {
            transform: rotate(45deg) scaleX(1.25);
        }

        .header-Roisoft__icono-menu__middle {
            opacity: 0;
            transform: scaleX(0);
        }

        &::after {
            transform: rotate(-45deg) scaleX(1.25) translateY(1px) ;
        } 
    }

    &__contenido-menu {

        @mixin atSmall {
            opacity: 0;
            transform: scale(1.2);
            transition: all .3s ease-out;
            position: relative;
            z-index: -10;
            text-align: center;
        }

        @mixin atMedium {
            background: rgb(0,0,0);
            background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(75,206,241,0.2) 21%, rgba(75,206,241,0.7) 70%);
            opacity: 1;
            z-index: 1;
            transform: scale(1);
            margin-top: 15px;
            @mixin clearfix
        }

        &--es-visible {
            opacity: 1;
            z-index: 1;
            transform: scale(1);
        }
    }

}