.imagen-portada {
    border-bottom: 10px solid $azulResalte;
    position: relative;
    
    &__image {
        display: block;
    }

    &__texto-contenido {
        position: absolute;
        top: 50%;
        transform: translateY(-10%);
        left: 0;
        width: 100%;
        text-align: center;
        color: #fff;
        background: rgb(0,0,0);
        background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 100%);

        @mixin atSmall {
            background-color: rgba(0,0,0,.6);
        }
        
    }

    &__titulo {
        font-weight: 100;
        font-style: normal;
        font-size: 4.8rem;

        @mixin atSmall {
            font-size: 1.8rem;
        }
    }

    &__tagline {
        font-weight: 100;
        font-size: 1.3rem;
        font-style: normal;
        text-shadow: 2px 2px 0 rgba(0,0,0,.9);
        margin-right: auto;
        margin-left: auto;

        @mixin atSmall {
            font-size: 1rem;
            max-width: 30rem;
        }
    }
}