.nav-primaria {
    
    &--flota-derecha {
        @mixin atMedium {
            float: right;
        }
    }

    ul {
        margin: 11px 0 0;
        padding: 0;
        @mixin clearfix;
    }

    li {
        list-style: none;
        display: inline-block;
        padding-right: 7px;
        @mixin atMedium {
            padding-right: 20px;
            float: left;
            display: block;
        }
    }

    li:last-child {
        padding-right: 0;
        @mixin atMedium {
            padding-right: 20px;
        }
    }

    a {
        color: #fff;
        text-decoration: none;
        text-shadow: 2px 2px 2px #07244D;
        &.es-link-actual {
            color: #fabb69;
        }
        @mixin atSmall {
            display: inline-block;
            padding: 5px;
            margin: 0 3px 10px;
            border: 1px solid rgba($azulClaro, .5);
        }
    }
}